.menu-images{
    width:380px;
    height:270px;
    margin:20px;
    background-blend-mode: lighten;

}
.Menu-config{
    display:flex;
    flex-wrap: wrap;
    
}
.description{
    margin:30px;
}
.quantity{
    width:60px;
    margin-left:30px;
    height:30px;
    text-align:center;
}